openapi: 3.1.0
info:
  title: Counters API
  version: 0.9.0
  summary: Multi-tenant arbitrary-precision counter service.
  description: |
    The public REST API for Counters, and the shape source of truth for the hand-written SDKs
    (drift-checked in CI; there is no client codegen).

    ## Conventions
    - **Arbitrary precision:** counter `amount` and `value` are JSON **strings** of decimal digits, never JSON
      numbers (a JSON number is an IEEE-754 double and loses precision above 2^53). `amount` is a non-negative
      integer string; `value` is a signed integer string.
    - **Idempotency:** every write — `add`, `subtract`, `clear`, `delete`, and the member operations — accepts an
      `Idempotency-Key` header. Retrying with the same key is safe and is not double-applied (at-least-once delivery +
      dedup = effectively-once): the retry replays the original result (same value/epoch, or the original `204` for a
      delete) instead of re-running the write. The guaranteed deduplication window is six hours. A key is scoped to the
      operation that first used it; reusing the same key for a **different** operation (e.g. an `add` key replayed on a
      `clear`) is rejected with `409 Conflict` rather than returning a result the second operation never produced.
    - **Auth:** SDK/machine calls use an organization API key (HTTP Bearer). All data is scoped to the key's organization.
    - **Counters may go negative.** `clear` resets to zero by starting a new epoch; historical series are retained.

    ## Counter declaration and strict-key policy
    - Clients may submit their full known counter set and desired settings at startup with one
      `POST /counters`. The service processes bounded transaction batches and returns per-key results:
      matching declarations are cheap no-ops, valid new keys land, and invalid or mismatched keys are
      isolated errors. Newly created counters alone consume one monthly operation each.
    - `undeclaredCounterWrites` is a per-organization safety policy with explicit polarity. `allow`
      preserves implicit counter creation by ordinary writes. `reject` makes the declared counter rows
      the allowlist: an ordinary write to an absent key fails with `409` and problem type
      `urn:counters:problem:counter-not-declared`. Read it and update it with versioned CAS through
      `/counter-write-policy`; startup declarations cannot overwrite it. A missing row is implicit
      `allow` during rolling deployment. Declaration remains the only way to create a key under reject.

    ## Dashboard direct reads
    - Browser dashboard core reads for usage, counters, values, series, leaderboards, member state, and
      read-only derived previews use `POST /dashboard/plane-token` on the hub, then `/dashboard-read/*`
      at the returned plane origin.
      In production `APP_ROLE=hub`, the legacy `/dashboard/...` runtime read aliases are not mounted; they
      remain only in local `APP_ROLE=all` composition for development compatibility.
    - A plane admits `dt_` dashboard reads only when the token org is present in its committed core projection
      snapshot and that projection binds the org to the token's plane. Missing or stale committed config returns
      `503` with `error: "plane_config_stale"`.

    ## Quotas & coalescing
    - Quotas meter **operations, not magnitude**: an `add` of any size is **one op** (`add(key, 500)` costs
      the same as `add(key, 1)`). Local aggregation therefore gives you effectively unlimited increments —
      accumulate client-side and flush the total. Success never punishes you.
    - `/batch` is the coalesced-flush surface: up to 1000 ops in one call (each op still counts as one).
    - Read your live quota state with a single keyed `GET /v1/usage`: current-month ops used/quota, the
      reset instant, counter headroom, and plan limits. It is for **periodic polling**, not per-write
      interrogation.
    - Every quota `403` body carries machine-readable extension members — `limit`, `used`, and (for the
      time-windowed monthly-ops quota) `resetsAt` — so a client learns exactly where it stands without
      parsing prose.

servers:
  - url: https://api.counters.dev/v1
    description: Production (placeholder host)

security:
  - apiKey: []

tags:
  - name: counters
    description: Counter registry and metadata.
  - name: operations
    description: Mutations — add, subtract, clear, delete, and batch.
  - name: read
    description: Reads — current value and time series.
  - name: public
    description: |
      Key-less demo endpoints backing the landing page's global tap counter. No authentication:
      access is restricted server-side to an operator-configured allowlist of counters owned by a
      dedicated demo organization, and abuse is controlled by per-IP and global rate limits. Served
      at the **API origin root** (`https://api.counters.dev/public/...`), not under `/v1`.
  - name: dashboard
    description: |
      Dashboard-only browser surfaces. These are documented here for contract visibility but are
      not part of the machine (/v1, SDK) contract; the SDKs do not implement them.

paths:
  /dashboard/plane-token:
    servers:
      - url: https://api.counters.dev
        description: Dashboard hub endpoints live at the API origin root, not under /v1.
    post:
      operationId: mintDashboardPlaneToken
      summary: Mint a short-lived direct-to-plane dashboard read token
      security:
        - workOs: []
      tags: [dashboard]
      description: |
        WorkOS-authenticated dashboard endpoint. The hub resolves the caller's organization plane,
        signs a `dt_` token scoped to that org and plane, and returns the plane base URL. The token is
        valid for at most 10 minutes and is accepted only by `/dashboard-read/*` routes on the target
        plane.
      responses:
        '200':
          description: A short-lived read token and target plane URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardPlaneToken' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /dashboard-read/usage:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadUsage
      summary: Read dashboard quota usage directly from a plane
      description: Returns the current-month write-operation usage for the caller’s org, served from the assigned plane's local store without any hub round-trip.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: Dashboard current-month write-op usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardUsage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/entitlements:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadEntitlements
      summary: Read dashboard entitlement caps and usage directly from a plane
      description: |
        Returns every customer-dashboard entitlement dimension with the org's effective post-grant max,
        active temporary-grant display metadata, and plane-local usage where the plane owns the meter.
        `counters` and `monthlyOps` include live usage; HUB-owned dimensions return `usage: null` and
        `usageAvailable: false` until those counts are projected to planes.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: Dashboard entitlement caps and usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardEntitlementsUsage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardEntitlementsUnavailable' }

  /dashboard-read/counters:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: listDashboardReadCounters
      summary: List counters directly from a plane for dashboard views
      description: Lists the org’s counters directly from the plane the org is assigned to, using the short-lived plane-scoped read token.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/values:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadCounterValues
      summary: Batch-read counter values directly from a plane
      description: Bulk-reads current counter values for the org directly from the plane, for dashboard overview tiles.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: keys
          in: query
          required: true
          description: Comma-separated counter keys; maximum 100.
          schema: { type: string }
      responses:
        '200':
          description: Current values for the requested counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounter
      summary: Read one counter directly from a plane
      description: Reads a single counter’s current state directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: The counter.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/series:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounterSeries
      summary: Read a counter series directly from a plane
      description: Reads a counter’s time series directly from the plane for dashboard charts.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          schema: { type: string, default: UTC }
        - name: gapfill
          in: query
          schema: { type: boolean, default: false }
        - name: member
          in: query
          schema: { type: string }
        - name: groupBy
          in: query
          schema: { type: string, enum: [member] }
        - $ref: '#/components/parameters/MemberSeriesTop'
        - $ref: '#/components/parameters/MemberSeriesOther'
      responses:
        '200':
          description: Counter or member-dimensional series.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SeriesResponse'
                  - $ref: '#/components/schemas/MemberSeriesResponse'
                  - $ref: '#/components/schemas/MemberGroupSeriesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/leaderboard:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounterLeaderboard
      summary: Read a counter leaderboard directly from a plane
      description: Reads a counter’s leaderboard directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 100000, default: 0 }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
        - name: window
          in: query
          schema: { type: string, enum: ['1h', '6h', '12h', '1d', '7d', '30d'] }
        - $ref: '#/components/parameters/Epoch'
      responses:
        '200':
          description: A ranked page of members.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Leaderboard'
                  - $ref: '#/components/schemas/WindowLeaderboard'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/members/{member}:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
    get:
      operationId: getDashboardReadMember
      summary: Read a member snapshot directly from a plane
      description: Reads a single leaderboard member’s snapshot for a counter directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - $ref: '#/components/parameters/Epoch'
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: The member snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSnapshot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/derived/preview:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    post:
      operationId: previewDashboardReadDerived
      summary: Preview a derived expression directly on a plane
      description: Evaluates an expression against the organization’s plane-local counter data without persisting a definition.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DerivedPreviewRequest' }
      responses:
        '200':
          description: The evaluated preview.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/derived/{derivedKey}/value:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDashboardReadDerivedValue
      summary: Read a derived counter value directly from a plane
      description: Reads a derived counter’s current value directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: The evaluated value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /dashboard-read/derived/{derivedKey}/series:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDashboardReadDerivedSeries
      summary: Read a derived counter series directly from a plane
      description: Reads a derived counter’s time series directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          schema: { type: string, default: UTC }
      responses:
        '200':
          description: The dense derived series.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedSeriesResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counter-write-policy:
    get:
      operationId: getCounterWritePolicy
      summary: Read the organization's implicit-create policy
      description: |
        Returns the organization-wide policy and its compare-and-set version. A policy-less
        organization reads as implicit `allow`, version `0`, `explicit: false`; this preserves
        create-on-write through rolling deployments until an administrator explicitly stores a
        policy. Publishable tokens cannot call this operation.
      tags: [counters]
      responses:
        '200':
          description: Current explicit policy or the implicit version-zero default.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterWritePolicy' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: setCounterWritePolicy
      summary: Compare-and-set the organization's implicit-create policy
      description: |
        Stores the organization-wide policy only when `expectedVersion` matches the current version.
        Read first, then supply the returned version; one of two concurrent updates wins and the other
        receives `409`, so separate clients cannot silently clobber each other. Setting a policy on an
        implicit policy-less organization requires `expectedVersion: 0` and creates version `1`.
        Publishable tokens cannot call this operation.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetCounterWritePolicyRequest' }
      responses:
        '200':
          description: The stored policy. An exact explicit replay is a storage no-op.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterWritePolicy' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters:
    post:
      operationId: declareCounters
      summary: Declare the organization's complete known counter set
      description: |
        Creates or verifies one to 1000 counter declarations for idempotent startup provisioning:
        submit the client's full known key set and settings on every startup. Work is committed in
        stable batches of at most 25 keys, bounding each transaction's advisory locks far below the
        PostgreSQL lock-table budget. Every key retains its organization-generation and repair fence.

        Each result is `created`, `unchanged`, or `error`. An invalid key, duplicate, tombstone, or
        configuration mismatch affects only that result; valid keys still land. A cap, quota, or fence
        failure rolls back only its bounded batch and appears on those results. Callers must inspect
        every result. An exact match performs no counter/configuration write and consumes no monthly
        op; a newly created counter consumes one monthly op. Board mode is immutable once declared,
        including before member data exists. Enabling member series happens in the same fenced,
        locked transaction as creation, before any member writes.

        This operation never changes the organization-wide undeclared-write policy. Read and update
        that versioned setting through `GET`/`PUT /counter-write-policy`; separating it from per-client
        startup declarations prevents last-writer-wins policy changes across clients sharing an org.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeclareCountersRequest' }
      responses:
        '200':
          description: One independent result per declaration plus the policy observed after completion.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeclareCountersResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      operationId: listCounters
      summary: List counters in the organization
      description: Pages through the organization's counters in key order; follow `nextCursor` until absent.
      tags: [counters]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounter
      summary: Get a counter's metadata and current value
      description: |
        The counter's key, current-epoch value, epoch, member configuration, dimensional-series state,
        most recent enable actor/time, and current member count. Optional configuration fields are
        absent when not applicable. 404 once deleted.
      tags: [counters]
      responses:
        '200':
          description: The counter.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteCounter
      summary: Delete (tombstone) a counter
      description: Marks the counter deleted and stops serving it; events are purged asynchronously per retention.
      tags: [operations]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/member-series:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    put:
      operationId: setCounterMemberSeries
      summary: Enable or disable per-member time series
      description: |
        Sets the counter's per-member time-series policy using a full organization API key.
        Publishable tokens cannot call this operation. Enabling is non-retroactive and is rejected
        when the current-epoch member count exceeds the plan's dimensional-series cap. An optional
        `expectedEpoch` makes the update conditional, so automation cannot silently configure a board
        that was cleared underneath it.

        `enabledAt` and `enabledBy` record the most recent disabled-to-enabled transition. They are
        retained across disable, and an idempotent request that leaves the state unchanged does not
        rewrite them. `enabledBy` identifies the calling API-key id; no plane-to-hub activity event is
        emitted by this operation.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CounterMemberSeriesRequest' }
      responses:
        '200':
          description: Current member-series configuration.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSeriesConfig' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/add:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: addToCounter
      summary: Add to a counter
      description: |
        Increments by a non-negative amount. Creates the counter if absent (subject to the plan's
        counter limit) when the organization's `undeclaredCounterWrites` policy is `allow`. Under
        `reject`, an absent key fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AmountRequest' }
      responses:
        '200':
          description: Applied; returns the new value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/subtract:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: subtractFromCounter
      summary: Subtract from a counter
      description: |
        Decrements by a non-negative amount. The counter may go negative. An absent key is implicitly
        created only when the organization's `undeclaredCounterWrites` policy is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AmountRequest' }
      responses:
        '200':
          description: Applied; returns the new value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/clear:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: clearCounter
      summary: Clear a counter (reset to zero)
      description: Starts a new epoch; the current value becomes zero. Historical series are retained.
      tags: [operations]
      responses:
        '200':
          description: Cleared; returns the counter at value 0 in the new epoch.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/value:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterValue
      summary: Get a counter's current value
      description: The value in the current epoch, as a decimal string. Publishable (`pk_`) bearers get CORS + cache headers.
      tags: [read]
      responses:
        '200':
          description: The current value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counters/{counterKey}/series:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterSeries
      summary: Get a counter's time series (delta per bucket)
      description: |
        Returns the per-bucket change in the counter over [from, to). Granularity (`bucket`) is constrained by the
        organization's plan; lookback is bounded by the storage lifecycle, not read-gated. Empty buckets are omitted
        unless `gapfill=true`; clients treat a missing bucket as zero.
      tags: [read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          description: Bucket size. Allowed values depend on plan (finer buckets require higher plans).
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: mode
          in: query
          description: Only delta-per-bucket is supported in v0.1; cumulative is a future, separate read path.
          schema: { type: string, enum: [delta], default: delta }
        - name: tz
          in: query
          description: IANA timezone for calendar bucket boundaries (e.g. Europe/London).
          schema: { type: string, default: UTC }
        - name: gapfill
          in: query
          description: >-
            Emit a zero-valued point for empty buckets instead of omitting them. Defaults to false;
            because false is the default, clients omit the parameter entirely when false (an explicit
            `gapfill=false` is treated identically to omission).
          schema: { type: boolean, default: false }
        - name: member
          in: query
          description: >-
            Dimensional member series (member-series): return one member's per-bucket series instead
            of the counter's. Requires the counter to have member series enabled and `bucket` at the
            1h floor or coarser. Mutually exclusive with `groupBy`. On a score board (`min`/`max`/
            `latest`) each point is the bucket-best/latest value, points are sparse, and `gapfill=true`
            is rejected (400) — a gap is "no submission", not zero.
          schema: { type: string }
        - name: groupBy
          in: query
          description: >-
            `groupBy=member` returns series for members with data in range (member-series), optionally
            restricted by `top`: gapfilled dense on a sum board, sparse per member on a score board.
            Requires member series enabled and `bucket` >= 1h. Mutually exclusive with `member`.
          schema: { type: string, enum: [member] }
        - $ref: '#/components/parameters/MemberSeriesTop'
        - $ref: '#/components/parameters/MemberSeriesOther'
      responses:
        '200':
          description: >-
            The series. Shape depends on the query: `SeriesResponse` for the counter, `MemberSeriesResponse`
            with `member=`, `MemberGroupSeriesResponse` with `groupBy=member`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SeriesResponse'
                  - $ref: '#/components/schemas/MemberSeriesResponse'
                  - $ref: '#/components/schemas/MemberGroupSeriesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Requested granularity exceeds the plan's entitlement; lookback is bounded by storage lifecycle, not read-gated.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /counters/{counterKey}/leaderboard:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterLeaderboard
      summary: Read a counter's ranked member leaderboard
      description: |
        Ranked page of members with values (top-N). Identical across board modes. `total` (the group
        total) is present only on `sum` boards. Publishable (`pk_`) bearers may read (the embeddable
        public leaderboard) and receive CORS + cache headers. Default `order` is `desc`, except `min`
        boards which default to `asc` (fastest-first); an explicit `order` overrides.
      tags: [read]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 100000, default: 0 }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
        - name: window
          in: query
          description: >-
            Windowed leaderboard (member-series): rank members by their activity over the trailing
            window instead of all-time standing — the window-sum on a sum board, the window-best
            (`min`/`max`) or window-latest (`latest`) value on a score board. Requires member series
            enabled. Default `order` follows the board mode (`asc` for `min`, else `desc`). Members with
            no activity in the window are absent (a windowed board ranks activity, not standing).
            Ignores `epoch` (member rollups are epoch-agnostic).
          schema: { type: string, enum: ['1h', '6h', '12h', '1d', '7d', '30d'] }
        - $ref: '#/components/parameters/Epoch'
      responses:
        '200':
          description: >-
            A ranked page of members — `Leaderboard` (all-time standing) or, with `window=`,
            `WindowLeaderboard` (windowed activity).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Leaderboard'
                  - $ref: '#/components/schemas/WindowLeaderboard'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counters/{counterKey}/members/{member}:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
    get:
      operationId: getMember
      summary: Get a member's rank and percentile
      description: |
        The member's value, competition rank, and percentile (share of members at-or-behind, e.g.
        "83.33"; the leader and a sole member both read "100.00"). Publishable (`pk_`) bearers may read.
      tags: [read]
      parameters:
        - $ref: '#/components/parameters/Epoch'
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: The member snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSnapshot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: removeMember
      summary: Remove a member from the current board
      description: |
        Removes the member from the current epoch. On `sum` boards a non-zero value is compensated
        into the group total (returned as `value`); score boards delete without state math.
      tags: [operations]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberRemoved' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/members/{member}/add:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: addToMember
      summary: Add to a member's value (sum board)
      description: |
        Accumulates a non-negative delta onto the member's value; configures the board as `sum` on
        first use. An absent counter is implicitly created only when `undeclaredCounterWrites` is
        `allow`; under `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MemberAmountRequest' }
      responses:
        '200':
          description: Applied; returns the member's new value and the group total.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/members/{member}/subtract:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: subtractFromMember
      summary: Subtract from a member's value (sum board)
      description: |
        Decrements the member's value by a non-negative delta. The member (and group) may go negative.
        An absent counter is implicitly created only when `undeclaredCounterWrites` is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MemberAmountRequest' }
      responses:
        '200':
          description: Applied; returns the member's new value and the group total.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/members/{member}/submit:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: submitMember
      summary: Submit a member's score (latest/min/max board)
      description: |
        Submits a signed score to a score board — `latest` overwrites, `min`/`max` keep-best. A
        worse-than-standing submit is still a successful, metered call returning the standing value
        with `memberAccepted: false`. `mode` is required on the first submit to an unconfigured board.
        An absent counter is implicitly created only when `undeclaredCounterWrites` is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitRequest' }
      responses:
        '200':
          description: Recorded; returns the standing value and whether it was accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /usage:
    get:
      operationId: getUsage
      summary: Read current quota state
      tags: [counters]
      description: |
        Machine-readable quota state for the calling organization: current-month ops used and quota,
        the reset instant, counter headroom, and the plan's core limits. Intended for **periodic
        polling** (e.g. once a minute), not per-write interrogation — the hot write path deliberately
        exposes no per-request usage headers. `quota`/`monthlyOpsQuota` are `null` for unlimited plans.
      responses:
        '200':
          description: Current quota state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Usage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /batch:
    post:
      operationId: batchOperations
      summary: Apply a batch of operations
      description: |
        The SDK's primary write path. Operations are coalesced client-side and submitted together. Each operation
        carries its own idempotency key (there is no batch-level key), so the batch is safe to retry. The HTTP call
        succeeding means the batch was accepted — inspect each per-operation result, including a possible `403`
        live-idempotency-key-cap error. When `undeclaredCounterWrites` is `reject`, an operation for an
        absent counter receives its own `409` `counter-not-declared` error result; other entries continue.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BatchRequest' }
      responses:
        '200':
          description: Per-operation results.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BatchResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived/{derivedKey}/value:
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDerivedValue
      summary: Evaluate a derived counter's current value
      description: |
        A derived counter is a stored, named, read-only expression over the organization's counters
        (e.g. `conversion = c('signups') / c('visits')`), evaluated at read time. Definitions are
        managed out-of-band (dashboard) and referenced counters need not exist — a missing or deleted
        counter reads as `0`, made visible in `inputs`. Arithmetic is exact-decimal (DECIMAL128) and
        the final result is rounded HALF_UP to the definition's `scale`. Division by zero anywhere in
        the expression makes the whole `value` `null` with a `reason`. Derived keys are a separate
        namespace from counter keys. Requires a full-access organization API key (no publishable
        tokens).
      tags: [read]
      responses:
        '200':
          description: The evaluated value (or null on division by zero).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived/{derivedKey}/series:
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDerivedSeries
      summary: Evaluate a derived counter as a per-bucket time series
      description: |
        Evaluates the derived expression per bucket over [from, to). Each referenced counter's series
        is gap-filled to zeros, so the derived series is always dense; a per-bucket division by zero
        yields `v: null` for that bucket. Granularity (`bucket`) is constrained by the organization's plan,
        and lookback is bounded by storage lifecycle exactly as for counter series. Requires a full-access
        organization API key.
      tags: [read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          description: Bucket size. Allowed values depend on plan (finer buckets require higher plans).
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          description: IANA timezone for calendar bucket boundaries (e.g. Europe/London).
          schema: { type: string, default: UTC }
      responses:
        '200':
          description: The dense derived series.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedSeriesResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /public/counters/{counterKey}/value:
    servers:
      - url: https://api.counters.dev
        description: Public demo endpoints live at the API origin root, not under /v1.
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getPublicCounterValue
      summary: Read a public demo counter (key-less)
      security: []
      tags: [public]
      description: |
        Current value of an allowlisted public counter — no auth, callable straight from a browser.
        Responses carry `Access-Control-Allow-Origin: *` and `Cache-Control: public, max-age=2,
        stale-while-revalidate=5`, so a CDN in front of the origin absorbs polling fan-out. An
        allowlisted counter that has never been written reads as `"0"` (epoch 0), never 404. A key
        outside the allowlist — or an operator that hasn't configured the feature — is a plain 404.
        `OPTIONS` preflight is supported (methods `GET, POST, OPTIONS`; headers `Content-Type`).
      responses:
        '200':
          description: The current value.
          headers:
            Cache-Control:
              description: '`public, max-age=2, stale-while-revalidate=5` — short shared-cache TTL for CDN absorption.'
              schema: { type: string }
            Access-Control-Allow-Origin:
              description: Always `*` on this endpoint.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /public/counters/{counterKey}/tap:
    servers:
      - url: https://api.counters.dev
        description: Public demo endpoints live at the API origin root, not under /v1.
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    post:
      operationId: tapPublicCounter
      summary: Tap a public demo counter (+1, key-less)
      security: []
      tags: [public]
      description: |
        Adds exactly **+1** to an allowlisted public counter — the amount is fixed server-side and no
        request body is accepted. Deliberately **not idempotent**: every accepted tap counts, and the
        per-IP + global rate limits (429 with `Retry-After` beyond them) are the abuse control. Returns
        the post-increment value so clients can render the click instantly. Responses carry
        `Access-Control-Allow-Origin: *` and `Cache-Control: no-store`. `OPTIONS` preflight is
        supported (methods `GET, POST, OPTIONS`; headers `Content-Type`).
      responses:
        '200':
          description: Applied; the post-increment value.
          headers:
            Cache-Control:
              description: Always `no-store` — tap responses are never cached.
              schema: { type: string }
            Access-Control-Allow-Origin:
              description: Always `*` on this endpoint.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Organization API key. Verified locally; never round-trips to WorkOS on the request hot path.
    workOs:
      type: http
      scheme: bearer
      description: WorkOS AuthKit access token for dashboard hub endpoints.
    dashboardReadToken:
      type: http
      scheme: bearer
      bearerFormat: dt_
      description: |
        Short-lived `dt_` dashboard read token minted by the hub and verified locally by the assigned
        data plane. Production planes bind the token org through their committed core projection snapshot
        before serving core dashboard reads.

  parameters:
    CounterKey:
      name: counterKey
      in: path
      required: true
      description: Counter identifier, unique within the organization (e.g. "registrations").
      schema: { type: string, minLength: 1, maxLength: 200, pattern: '^[A-Za-z0-9._:-]+$' }
    DerivedKey:
      name: derivedKey
      in: path
      required: true
      description: Derived-counter identifier, unique within the organization (separate namespace from counter keys).
      schema: { type: string, minLength: 1, maxLength: 200, pattern: '^[A-Za-z0-9._:-]+$' }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Client-supplied key for effectively-once writes. The SDKs send a fresh key on every write; a batch carries
        one key per operation, not one key for the HTTP request. The guaranteed deduplication window is six hours:
        retrying the same operation with the same key during that window replays its original result. Keys older than
        six hours are eligible for pruning, so reusing one later may execute a new operation. Reusing a live key for a
        different operation returns `409 Conflict`.

        Each organization also has a plan-derived live-key cap, defaulted to 110% of the maximum writes its enforced
        rate limit permits during six hours. Traffic within that rate limit cannot exhaust the cap. If the cap is
        exhausted, a standalone write returns `403 Forbidden`; a batch reports an `error` result with status `403` for
        that operation. No `Retry-After` header is sent because the service does not promise an exact recovery time.
        Do not retry automatically; retry only after older keys have left the six-hour window.
      schema: { type: string, maxLength: 255 }
    Cursor:
      name: cursor
      in: query
      description: Opaque pagination cursor from a previous response.
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    MemberKey:
      name: member
      in: path
      required: true
      description: Member identifier within a counter's board (e.g. "playerX", or a composite "alice|bob").
      schema: { type: string, minLength: 1, maxLength: 256, pattern: '^[A-Za-z0-9._:@|-]+$' }
    Epoch:
      name: epoch
      in: query
      description: Season to read; defaults to the counter's current epoch. Past seasons stay readable after clear.
      schema: { type: integer, format: int64 }
    MemberSeriesTop:
      name: top
      in: query
      description: >-
        With `groupBy=member`, select the top N members over the requested range. Ranking follows
        board semantics: range sum for `sum`, range minimum for `min`, range maximum for `max`,
        and the newest submitted value for `latest`. N must not exceed the organization's resolved
        `maxMembersWithSeries` entitlement. The absolute response budget is 25,000 points, so
        `top * bucketCount` (plus one series when `other=true`) must fit; reduce `top` or use a
        coarser bucket when it does not. Requires `groupBy=member`.
      schema: { type: integer, minimum: 1 }
    MemberSeriesOther:
      name: other
      in: query
      description: >-
        With `groupBy=member&top=N` on a sum board, append a synthetic `$other` series containing
        the per-bucket sum of all omitted members. Defaults to false. `other=true` is rejected on
        `min`, `max`, and `latest` boards because a combined score series has no coherent meaning.
      schema: { type: boolean, default: false }

  schemas:
    Amount:
      type: string
      pattern: '^[0-9]+$'
      description: Non-negative integer magnitude, arbitrary precision, as a decimal-digit string.
      examples: ['1', '42', '100000000000000000000000']
    Value:
      type: string
      pattern: '^-?[0-9]+$'
      description: Signed integer counter value, arbitrary precision, as a string.
      examples: ['0', '-5', '999999999999999999999999999']
    AmountRequest:
      type: object
      required: [amount]
      properties:
        amount: { $ref: '#/components/schemas/Amount' }
        occurredAt:
          type: string
          format: date-time
          description: |
            Optional event time. When set, the operation is bucketed into the time series at this
            instant instead of ingest time (for offline spools flushing late). Bounded: at most 5
            minutes in the future and no older than the plan's retention window (400 otherwise).
            Totals are unaffected — only series bucketing.
    UndeclaredCounterWrites:
      type: string
      enum: [allow, reject]
      description: |
        Per-organization implicit-create policy with explicit polarity. `allow` lets ordinary data
        writes create an absent counter (the backwards-compatible default for existing organizations).
        `reject` makes live counter rows the strict-key allowlist: an absent key returns a typed `409`
        until it is created through `POST /counters`. This is an organization safety policy, not a
        plan entitlement or temporary grant.
    CounterWritePolicy:
      type: object
      required: [undeclaredCounterWrites, version, explicit]
      properties:
        undeclaredCounterWrites:
          $ref: '#/components/schemas/UndeclaredCounterWrites'
        version:
          type: integer
          format: int64
          minimum: 0
          description: CAS version. Zero exists only for the implicit policy-row-absent default.
        explicit:
          type: boolean
          description: False only when no policy row exists and implicit `allow` is in effect.
        updatedAt:
          type: string
          format: date-time
          description: Present for an explicitly stored policy.
        updatedBy:
          type: string
          description: API-key actor that most recently changed the explicit policy.
    SetCounterWritePolicyRequest:
      type: object
      required: [undeclaredCounterWrites, expectedVersion]
      properties:
        undeclaredCounterWrites:
          $ref: '#/components/schemas/UndeclaredCounterWrites'
        expectedVersion:
          type: integer
          format: int64
          minimum: 0
          description: Version returned by the latest GET. A stale value returns 409.
    CounterDeclaration:
      type: object
      required: [key]
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '^[A-Za-z0-9._:-]+$'
        memberMode:
          description: >-
            Desired member-board aggregation mode. Omit for an unconfigured scalar counter. A matching
            repeat is a no-op; any mismatch on an existing counter returns an error for this key. The
            mode is immutable once declared, even when the board has no member data.
          allOf:
            - $ref: '#/components/schemas/Mode'
        memberSeriesEnabled:
          type: boolean
          default: false
          description: >-
            Whether per-member time series must be enabled. Enabling during creation happens before any
            member writes and records this API key as the enabling actor.
    DeclareCountersRequest:
      type: object
      required: [counters]
      properties:
        counters:
          type: array
          minItems: 1
          maxItems: 1000
          description: >-
            The client's full known counter set. Duplicate entries become per-key errors. Each bounded
            transaction contains at most 25 keys; callers must inspect every result.
          items: { $ref: '#/components/schemas/CounterDeclaration' }
    CounterDeclarationResult:
      type: object
      required: [key, status]
      properties:
        key: { type: string }
        status:
          type: string
          enum: [created, unchanged, error]
          description: >-
            `unchanged` means the declaration exactly matched and performed no counter/config write;
            `error` means only this key (or its bounded transaction batch) failed.
        epoch: { type: integer, format: int64 }
        memberMode: { $ref: '#/components/schemas/Mode' }
        memberSeriesEnabled: { type: boolean }
        memberSeriesEnabledAt:
          type: string
          format: date-time
          description: >-
            Most recent disabled-to-enabled transition; absent until first enabled. When the actor has
            `unknown:*` provenance, this is a migration or rolling-upgrade fallback timestamp rather
            than the historical enable time.
        memberSeriesEnabledBy:
          type: string
          description: >-
            Actor responsible for `memberSeriesEnabledAt`; absent until first enabled. Normally
            `api_key:<uuid>` or `user:<id>`; `unknown:pre-audit` and `unknown:rolling-upgrade` are honest
            compatibility sentinels.
        memberCount:
          type: integer
          minimum: 0
          description: Current-epoch member count at declaration time.
        error:
          allOf:
            - $ref: '#/components/schemas/Problem'
          description: Present when status is `error`; includes an HTTP-style status and reason.
    DeclareCountersResponse:
      type: object
      required: [results, policy]
      properties:
        results:
          type: array
          description: One result per declaration, in request order.
          items: { $ref: '#/components/schemas/CounterDeclarationResult' }
        policy:
          $ref: '#/components/schemas/CounterWritePolicy'
    Counter:
      type: object
      required: [key, value, epoch]
      properties:
        key: { type: string }
        value: { $ref: '#/components/schemas/Value' }
        epoch:
          type: integer
          description: Incremented by clear; the value sums deltas in the current epoch.
        memberMode:
          description: Board aggregation mode; present on the full-access counter detail read when configured.
          allOf:
            - $ref: '#/components/schemas/Mode'
        memberSeriesEnabled:
          type: boolean
          description: Present on the full-access counter detail read.
        memberSeriesEnabledAt:
          type: string
          format: date-time
          description: >-
            Most recent disabled-to-enabled transition; present on the full-access detail read after
            member series has first been enabled and retained across disable. With an `unknown:*`
            actor, this is a migration or rolling-upgrade fallback timestamp, not the historical enable time.
        memberSeriesEnabledBy:
          type: string
          description: >-
            Actor responsible for `memberSeriesEnabledAt`, e.g. `api_key:<uuid>` or `user:<id>`.
            Compatibility values `unknown:pre-audit` and `unknown:rolling-upgrade` explicitly mean the
            historical actor is unavailable.
        memberCount:
          type: integer
          minimum: 0
          description: Current-epoch member count; present on the full-access counter detail read.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ValueResponse:
      type: object
      required: [key, value, epoch]
      properties:
        key: { type: string }
        value: { $ref: '#/components/schemas/Value' }
        epoch: { type: integer }
    DashboardPlaneToken:
      type: object
      required: [token, plane_base_url, expires_at]
      properties:
        token:
          type: string
          description: Ed25519-signed `dt_` token scoped to one org, one plane, and read-only dashboard access.
        plane_base_url:
          type: string
          format: uri
          description: Origin root for the target data plane.
        expires_at:
          type: string
          format: date-time
          description: Token expiry; at most 10 minutes after issue time.
    DashboardUsage:
      type: object
      required: [month, opsUsed, opsQuota]
      properties:
        month: { type: string, description: 'UTC month, e.g. "2026-07".' }
        opsUsed: { type: integer, description: Write ops recorded this UTC month. }
        opsQuota:
          type: [integer, 'null']
          description: Monthly op ceiling; null for unlimited plans.
    DashboardEntitlementsUsage:
      type: object
      required: [generatedAt, snapshotVersion, dimensions]
      properties:
        generatedAt:
          type: string
          format: date-time
          description: Timestamp of the applied plane config snapshot used for the entitlement caps.
        snapshotVersion:
          type: integer
          format: int64
          description: Applied plane config snapshot version used for the entitlement caps.
        dimensions:
          type: array
          description: Stable customer-dashboard entitlement dimensions in render order.
          minItems: 5
          maxItems: 5
          items: { $ref: '#/components/schemas/DashboardEntitlementDimension' }
    DashboardEntitlementDimension:
      type: object
      required: [key, usage, usageAvailable, effectiveMax, unlimited, activeBoost]
      properties:
        key:
          type: string
          enum: [counters, monthlyOps, alertChannels, hostedPages, customDomains]
        usage:
          type: [integer, 'null']
          format: int64
          description: Plane-metered usage; null when the plane does not own this dimension's usage table.
        usageAvailable:
          type: boolean
          description: True only when `usage` is a live plane-local count.
        effectiveMax:
          type: [integer, 'null']
          format: int64
          description: Effective post-grant cap from the applied plane config snapshot; null when unlimited.
        unlimited:
          type: boolean
          description: True when the effective cap is the unlimited sentinel and `effectiveMax` is null.
        activeBoost:
          anyOf:
            - $ref: '#/components/schemas/DashboardEntitlementBoost'
            - type: 'null'
          description: Temporary-grant display metadata when a live grant currently raises this dimension.
        windowStart:
          type: string
          format: date-time
          description: UTC usage window start; present for `monthlyOps`.
        windowResetsAt:
          type: string
          format: date-time
          description: UTC usage reset instant; present for `monthlyOps`.
    DashboardEntitlementBoost:
      type: object
      required: [delta, expiresAt]
      properties:
        delta:
          type: integer
          format: int64
          minimum: 1
          description: Amount by which the live temporary grant raises the effective max above baseline.
        expiresAt:
          type: string
          format: date-time
          description: Expiry of the grant currently holding the displayed cap.
    CounterPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Counter' }
        nextCursor:
          type: string
          description: Present when more results exist.
    SeriesResponse:
      type: object
      required: [counterKey, bucket, mode, range, points]
      properties:
        counterKey: { type: string }
        bucket: { type: string }
        mode: { type: string, enum: [delta] }
        tz: { type: string }
        range:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        points:
          type: array
          items: { $ref: '#/components/schemas/SeriesPoint' }
    SeriesPoint:
      type: object
      required: [t, v]
      properties:
        t: { type: string, format: date-time, description: Bucket start (inclusive). }
        v: { $ref: '#/components/schemas/Value' }
    DecimalValue:
      type: string
      nullable: true
      pattern: '^-?[0-9]+(\.[0-9]+)?$'
      description: |
        Signed decimal value, arbitrary precision, as a string (e.g. a ratio). `null` when the
        expression divided by zero. Distinct from `Value`, which is integer-only.
      examples: ['0', '0.052337', '-3.5']
    DerivedValueResponse:
      type: object
      required: [key, value, scale, inputs]
      properties:
        key: { type: string }
        value: { $ref: '#/components/schemas/DecimalValue' }
        scale:
          type: integer
          description: Decimal places the value is rounded to (HALF_UP), fixed per definition.
        inputs:
          type: object
          additionalProperties: { $ref: '#/components/schemas/Value' }
          description: Each referenced counter's current value (integer string); a missing/deleted counter reads as "0".
        reason:
          type: string
          description: Present only when `value` is null (e.g. "division by zero").
    DerivedPreviewRequest:
      type: object
      required: [expression]
      properties:
        expression:
          type: string
          maxLength: 500
        scale:
          type: integer
          minimum: 0
          maximum: 20
          default: 6
    DerivedSeriesPoint:
      type: object
      required: [t, v]
      properties:
        t: { type: string, format: date-time, description: Bucket start (inclusive). }
        v: { $ref: '#/components/schemas/DecimalValue' }
    DerivedSeriesResponse:
      type: object
      required: [key, bucket, scale, range, points]
      properties:
        key: { type: string }
        bucket: { type: string }
        tz: { type: string }
        scale: { type: integer }
        range:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        points:
          type: array
          items: { $ref: '#/components/schemas/DerivedSeriesPoint' }
    Operation:
      type: object
      required: [counterKey, op]
      description: |
        `amount` is required for add/subtract and ignored for clear/delete. When `member` is set, an
        add/subtract becomes a delta member write and delete becomes a member removal. `op: submit`
        requires `member` and `value` and targets an already-configured score board.
      properties:
        counterKey: { type: string }
        op: { type: string, enum: [add, subtract, clear, delete, submit] }
        amount: { $ref: '#/components/schemas/Amount' }
        member:
          type: string
          maxLength: 256
          pattern: '^[A-Za-z0-9._:@|-]+$'
          description: Member key; turns the op into a member-attributed write.
        metadata: { $ref: '#/components/schemas/Metadata' }
        value: { $ref: '#/components/schemas/Value' }
        idempotencyKey: { type: string, maxLength: 255 }
        occurredAt:
          type: string
          format: date-time
          description: Optional event time for series bucketing (see AmountRequest.occurredAt).
    BatchRequest:
      type: object
      required: [operations]
      properties:
        operations:
          type: array
          minItems: 1
          maxItems: 1000
          items: { $ref: '#/components/schemas/Operation' }
    BatchResult:
      type: object
      required: [counterKey, status]
      properties:
        counterKey: { type: string }
        status: { type: string, enum: [applied, deduplicated, error] }
        value: { $ref: '#/components/schemas/Value' }
        error: { $ref: '#/components/schemas/Problem' }
        memberValue: { $ref: '#/components/schemas/Value' }
        memberAccepted:
          type: boolean
          description: False when a min/max submit kept the standing best (absent for non-submit ops).
    BatchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/BatchResult' }
    Metadata:
      type: string
      maxLength: 1024
      description: |
        Opaque, client-parsed per-entry payload, stored and returned verbatim. Capped at 1024 UTF-8
        bytes (the server counts bytes, not characters). Rides accepted values only.
    Mode:
      type: string
      enum: [sum, latest, min, max]
      description: |
        Board aggregation mode. `sum` accumulates deltas (fully counter-integrated); `latest`/`min`/`max`
        submit replace/keep-best scores. Set by the first member write, then immutable.
    CounterMemberSeriesRequest:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean
        expectedEpoch:
          type: integer
          format: int64
          minimum: 0
          description: >-
            Optional compare-and-set guard. The request fails with 409 if the counter's current epoch
            differs, preventing automation from configuring a board that was concurrently cleared.
    MemberSeriesConfig:
      type: object
      required: [key, enabled, memberCount, maxMembersWithSeries]
      properties:
        key: { type: string }
        enabled: { type: boolean }
        memberCount:
          type: integer
          minimum: 0
          description: Current-epoch member count observed by the toggle.
        maxMembersWithSeries:
          type: integer
          minimum: 0
          description: The calling organization's resolved dimensional-series member cap.
        mode: { $ref: '#/components/schemas/Mode' }
        enabledAt:
          type: string
          format: date-time
          description: Most recent disabled-to-enabled transition; absent until first enabled and retained across disable.
        enabledBy:
          type: string
          description: Actor responsible for `enabledAt`, e.g. `api_key:<uuid>` or `user:<id>`.
    MemberAmountRequest:
      type: object
      required: [amount]
      properties:
        amount: { $ref: '#/components/schemas/Amount' }
        metadata: { $ref: '#/components/schemas/Metadata' }
        occurredAt:
          type: string
          format: date-time
          description: Optional event time for series bucketing (see AmountRequest.occurredAt).
    SubmitRequest:
      type: object
      required: [value]
      properties:
        value: { $ref: '#/components/schemas/Value' }
        mode: { $ref: '#/components/schemas/Mode' }
        metadata: { $ref: '#/components/schemas/Metadata' }
        occurredAt:
          type: string
          format: date-time
          description: Optional event time for series bucketing (see AmountRequest.occurredAt).
    MemberValue:
      type: object
      required: [key, member, memberValue, memberAccepted, mode, epoch]
      properties:
        key: { type: string }
        member: { type: string }
        memberValue: { $ref: '#/components/schemas/Value' }
        memberAccepted:
          type: boolean
          description: False when a min/max submit kept the standing best.
        mode: { $ref: '#/components/schemas/Mode' }
        epoch: { type: integer, format: int64 }
        value:
          $ref: '#/components/schemas/Value'
    MemberRemoved:
      type: object
      required: [key, member, epoch]
      properties:
        key: { type: string }
        member: { type: string }
        epoch: { type: integer, format: int64 }
        value:
          $ref: '#/components/schemas/Value'
    MemberSnapshot:
      type: object
      required: [key, member, value, rank, percentile, memberCount, mode, epoch, updatedAt]
      properties:
        key: { type: string }
        member: { type: string }
        value: { $ref: '#/components/schemas/Value' }
        metadata: { $ref: '#/components/schemas/Metadata' }
        rank: { type: integer, format: int64, description: 'Competition rank (ties share; next skips: 1,2,2,4).' }
        percentile:
          type: string
          pattern: '^-?[0-9]+\.[0-9]{2}$'
          description: Share of members at-or-behind, scale 2 (e.g. "83.33"); leader and sole member read "100.00".
        memberCount: { type: integer }
        mode: { $ref: '#/components/schemas/Mode' }
        epoch: { type: integer, format: int64 }
        updatedAt: { type: string, format: date-time }
    LeaderboardEntry:
      type: object
      required: [rank, member, value, updatedAt]
      properties:
        rank: { type: integer, format: int64 }
        member: { type: string }
        value: { $ref: '#/components/schemas/Value' }
        metadata: { $ref: '#/components/schemas/Metadata' }
        updatedAt: { type: string, format: date-time }
    Leaderboard:
      type: object
      required: [key, mode, epoch, order, memberCount, limit, offset, entries]
      properties:
        key: { type: string }
        mode: { $ref: '#/components/schemas/Mode' }
        epoch: { type: integer, format: int64 }
        order: { type: string, enum: [asc, desc] }
        total:
          $ref: '#/components/schemas/Value'
        memberCount: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        entries:
          type: array
          items: { $ref: '#/components/schemas/LeaderboardEntry' }
    Usage:
      type: object
      required: [month, ops, counters, limits]
      description: Current quota state for the organization (see GET /usage).
      properties:
        month: { type: string, description: 'UTC month, e.g. "2026-07".' }
        ops:
          type: object
          required: [used, resetsAt]
          properties:
            used: { type: integer, description: Write ops recorded this UTC month. }
            quota:
              type: [integer, 'null']
              description: Monthly op ceiling; null for unlimited plans.
            resetsAt:
              type: string
              format: date-time
              description: First instant of the next UTC month; present even when quota is null.
        counters:
          type: object
          required: [used, max]
          properties:
            used: { type: integer, description: Live (non-deleted) counters in the org. }
            max: { type: integer, description: Counter cap for the plan. }
        limits:
          type: object
          required: [rateLimitRps, maxCounters]
          properties:
            rateLimitRps: { type: integer }
            maxCounters: { type: integer }
            monthlyOpsQuota:
              type: [integer, 'null']
              description: Monthly op ceiling; null for unlimited plans.
    MemberSeriesResponse:
      type: object
      description: >-
        One member's per-bucket series (dimensional member series). On a sum board each point is the
        bucket's signed delta sum; on a score board it is the bucket-best (`min`/`max`) or bucket-latest
        (`latest`) value. Score-board points are sparse — an empty bucket means "no submission", not
        zero, and `gapfill=true` is rejected (400); clients wanting a running best compute a cumulative
        min/max over the sparse points client-side.
      required: [counterKey, member, bucket, mode, range, points]
      properties:
        counterKey: { type: string }
        member: { type: string }
        bucket: { type: string }
        mode:
          type: string
          enum: [delta, min, max, latest]
          description: >-
            The point value-type. `delta` on a sum board (per-bucket delta); on a score board the board
            mode (`min`/`max`/`latest`), telling clients how to read each bucket's value.
        tz: { type: string }
        range:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        points:
          type: array
          items: { $ref: '#/components/schemas/SeriesPoint' }
    MemberSeriesEntry:
      type: object
      required: [member, points]
      properties:
        member: { type: string }
        points:
          type: array
          items: { $ref: '#/components/schemas/SeriesPoint' }
    MemberGroupSeriesResponse:
      type: object
      description: >-
        Per-member multi-series (`groupBy=member`). Sum boards are gapfilled dense; score boards return
        sparse per-member point lists (same rule as the single-member score series — a gap is "no
        submission", not zero).
      required: [counterKey, bucket, mode, range, memberCount, selectedCount, truncated, series]
      properties:
        counterKey: { type: string }
        bucket: { type: string }
        mode:
          type: string
          enum: [delta, min, max, latest]
          description: >-
            The point value-type: `delta` on a sum board, else the board mode (`min`/`max`/`latest`).
        tz: { type: string }
        range:
          type: object
          required: [from, to]
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        memberCount:
          type: integer
          minimum: 0
          description: >-
            Members with data in the requested range before top-N selection.
        selectedCount:
          type: integer
          minimum: 0
          description: >-
            Real member series selected into the response; excludes the synthetic `$other` series.
        truncated:
          type: boolean
          description: >-
            True when top-N selection omitted at least one range member.
        series:
          type: array
          items: { $ref: '#/components/schemas/MemberSeriesEntry' }
    WindowEntry:
      type: object
      required: [rank, member, value]
      properties:
        rank: { type: integer, format: int64 }
        member: { type: string }
        value: { $ref: '#/components/schemas/Value' }
    WindowLeaderboard:
      type: object
      description: >-
        Members ranked by their activity over a trailing window. Sum boards rank the window-sum; score
        boards rank the window-best (`min`/`max`) or window-latest (`latest`) value. Default `order`
        follows the board mode — `asc` for `min` (fastest-first), `desc` otherwise; an explicit `order`
        overrides. `total` is non-null on sum boards only (`null` on score boards, mirroring the
        all-time `Leaderboard`).
      required: [key, mode, window, order, memberCount, limit, offset, effectiveStart, effectiveEnd, entries]
      properties:
        key: { type: string }
        mode: { type: string, enum: [sum, min, max, latest] }
        window: { type: string, enum: ['1h', '6h', '12h', '1d', '7d', '30d'] }
        order: { type: string, enum: [asc, desc] }
        total:
          oneOf:
            - $ref: '#/components/schemas/Value'
            - type: 'null'
          description: Window group total (window sum of counter_rollup) — the value on sum boards, `null` on score boards.
        memberCount: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        effectiveStart:
          type: string
          format: date-time
          description: >-
            The effective lower bound actually summed, floored to the 1h member-rollup storage boundary
            so `entries` and `total` cover the identical range. May be earlier than `now − window`.
        effectiveEnd:
          type: string
          format: date-time
          description: The effective upper bound actually summed (the request instant).
        entries:
          type: array
          items: { $ref: '#/components/schemas/WindowEntry' }
    Problem:
      type: object
      description: Error details, per RFC 9457 (application/problem+json).
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
    QuotaProblem:
      description: |
        A quota (403) problem. Extends Problem with RFC 9457 extension members telling a machine caller
        exactly where it stands. Members are optional — old Problem consumers keep parsing these bodies.
      allOf:
        - $ref: '#/components/schemas/Problem'
        - type: object
          properties:
            limit: { type: integer, description: The entitlement ceiling that was hit. }
            used: { type: integer, description: Current usage against that ceiling. }
            resetsAt:
              type: string
              format: date-time
              description: When the usage resets (time-windowed quotas only, e.g. monthly ops).
    PlaneConfigStale:
      type: object
      required: [error, reason]
      description: |
        A production plane cannot prove that its committed config snapshot is fresh enough to admit
        a dashboard read. Retry after the `Retry-After` delay; the hub must refresh the plane snapshot
        before the plane serves more projection-bound dashboard reads.
      properties:
        error:
          type: string
          const: plane_config_stale
        reason:
          type: string
          description: Machine-readable stale-config reason, for example `no_committed_snapshot`.
        seconds_since_hub_contact:
          type: [integer, 'null']
          description: Seconds since the last accepted hub contact when known; omitted or null when unknown.
    DashboardEntitlementsStale:
      type: object
      required: [error]
      properties:
        error:
          type: string
          const: plane_config_stale

  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Counter not found.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: The request exceeds the plan's entitlements, or the credential lacks full access.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    QuotaExceeded:
      description: >-
        A plan-derived limit was reached (e.g. maximum counters, monthly ops quota, or the live idempotency-key cap).
        Idempotency-cap responses do not include Retry-After; retry only after older keys leave the six-hour window.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/QuotaProblem' }
    RateLimited:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    DashboardReadUnavailable:
      description: The target plane cannot currently serve projection-bound dashboard reads.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PlaneConfigStale' }
    DashboardEntitlementsUnavailable:
      description: >-
        The plane has no applied config snapshot, or the caller's organization is absent from it; retry
        once the plane's snapshot is current.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/DashboardEntitlementsStale' }
    Conflict:
      description: |
        A state precondition was not met. Stable cases include:

        - `urn:counters:problem:counter-not-declared`: the organization's
          `undeclaredCounterWrites` policy is `reject` and an ordinary write targeted an absent key;
          declare it with `POST /counters` before retrying.
        - a bulk declaration's desired settings do not match existing counter state; the entire
          declaration request was rolled back.
        - `urn:counters:problem:counter-epoch-mismatch`: `expectedEpoch` differs from the counter's
          current epoch.
        - an `Idempotency-Key` was first used for a different operation; retry with a fresh key (or
          the operation the key belongs to).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
