openapi: 3.1.0
info:
  title: Counters API
  version: 0.14.0
  summary: Multi-tenant arbitrary-precision counter service.
  description: |
    The public REST API for Counters, and the shape source of truth for the hand-written SDKs
    (drift-checked in CI; there is no client codegen).

    ## Conventions
    - **Arbitrary precision:** counter `amount` and `value` are JSON **strings** of decimal digits, never JSON
      numbers (a JSON number is an IEEE-754 double and loses precision above 2^53). `amount` is a non-negative
      integer string; `value` is a signed integer string.
    - **Idempotency:** every write — `add`, `subtract`, `clear`, `delete`, and the member operations — accepts an
      `Idempotency-Key` header. Retrying with the same key is safe and is not double-applied (at-least-once delivery +
      dedup = effectively-once): the retry replays the original result (same value/epoch, or the original `204` for a
      delete) instead of re-running the write. The guaranteed deduplication window is six hours. A key is scoped to the
      operation that first used it; reusing the same key for a **different** operation (e.g. an `add` key replayed on a
      `clear`) is rejected with `409 Conflict` rather than returning a result the second operation never produced.
    - **Auth:** SDK/machine calls use an organization API key (HTTP Bearer). All data is scoped to the key's organization.

    ## API-key scopes and expiry
    - Every organization API key carries a scope set. `x-api-key-scope` on each operation names the scope
      that operation requires; `POST /batch` scopes per contained operation (`counter:write` each, and
      `counter:manage` for contained deletes — a batch containing any operation the key may not run is
      rejected whole with `403` before anything executes).
    - The vocabulary: `counter:read|write|manage`, `otlp:write`, plus `board:*`, `alert:*`, and
      `derived:*` families (`derived:*` governs derived-counter *definitions*; reading derived *values*
      stays under `counter:read`), and `key:mint` (minting new keys on the hub machine surface —
      outside the read/write/manage ladder, never implied by any other scope). Keys minted before
      scopes existed behave as the legacy quartet `counter:read`, `counter:write`, `counter:manage`,
      `otlp:write`.
    - Scope enforcement rolls out per environment and per organization (`off` → `warn` → `enforce`);
      while enforcement is off, scopes are validated at issuance and projected, but not consulted at
      request time. In `enforce`, a missing scope is a `403` with problem `type: "scope_denied"` naming
      the **required** scope (the key's own scope set is never echoed).
    - Keys may carry an `expiresAt`; an expired key authenticates as invalid (`401`), indistinguishable
      from an unknown key.
    - **Machine surface (alerts, derived definitions, boards, keys):** `GET/POST /alerts`,
      `/alerts/{ruleId}`, `POST /alerts/incidents/{incidentId}/ack`, `/derived` (+ `/{key}`),
      `GET/POST /boards` (+ `/{boardId}`), `POST /keys`, and `DELETE /keys/self` are served
      from the **hub host** (`https://hub.counters.dev/v1`) for organization API keys — a separate
      surface from the WorkOS-only dashboard routes. Publishable (`pk_`) tokens are rejected here
      before any scope check. Unlike the data-plane operations above, the machine surface's scope
      gates are **always enforced**, regardless of the `off`/`warn`/`enforce` rollout mode: new
      routes have no legacy key behaviour to protect. The surface is on by default for every
      organization (only an operator-disabled organization sees `404` on every machine route),
      is rate-limited
      per key (20 rps, burst 40), sends no CORS headers, and audits every mutation as the `api_key`
      actor. Machine `POST` creates accept an `Idempotency-Key` (a lowercase v1–v5 UUID): retrying with
      the same key replays the recorded rule/definition/board (`200`) instead of double-creating; the same
      key with a different body is `409`, and a replay whose original resource has since been deleted
      (or, for a derived definition, changed) is `409` with problem type `idempotency_key_reused`
      (a replay never re-creates). A key-mint replay (`200`) carries the minted key's metadata but
      never its secret — the secret is returned exactly once, on the initial `201`. Board updates
      take `If-Match` on the current revision; a stale revision is `409`, never a silent overwrite.
      Agents building boards from existing counters list them with data-plane `GET /v1/counters`
      under `counter:read`, then write the board here —
      see `docs/AGENT-BOARDS-GUIDE.md` for the widget reference, worked examples, key delegation recipes, and self-destruct.
    - **Counters may go negative.** `clear` resets to zero by starting a new epoch; historical series are retained.

    ## Counter declaration and strict-key policy
    - Clients may submit their full known counter set and desired settings at startup with one
      `POST /counters`. The service processes bounded transaction batches and returns per-key results:
      matching declarations are cheap no-ops, valid new keys land, and invalid or mismatched keys are
      isolated errors. Newly created counters alone consume one monthly operation each.
    - `undeclaredCounterWrites` is a per-organization safety policy with explicit polarity. `allow`
      preserves implicit counter creation by ordinary writes. `reject` makes the declared counter rows
      the allowlist: an ordinary write to an absent key fails with `409` and problem type
      `urn:counters:problem:counter-not-declared`. Read it and update it with versioned CAS through
      `/counter-write-policy`; startup declarations cannot overwrite it. A missing row is implicit
      `allow` during rolling deployment. Declaration remains the only way to create a key under reject.

    ## Dashboard direct reads
    - Browser dashboard core reads for usage, counters, values, series, leaderboards, member state, and
      read-only derived previews use `POST /dashboard/plane-token` on the hub, then `/dashboard-read/*`
      at the returned plane origin.
      In production `APP_ROLE=hub`, the legacy `/dashboard/...` runtime read aliases are not mounted; they
      remain only in local `APP_ROLE=all` composition for development compatibility.
    - A plane admits `dt_` dashboard reads only when the token org is present in its committed core projection
      snapshot and that projection binds the org to the token's plane. Missing or stale committed config returns
      `503` with `error: "plane_config_stale"`.

    ## Quotas & coalescing
    - Quotas meter **operations, not magnitude**: an `add` of any size is **one op** (`add(key, 500)` costs
      the same as `add(key, 1)`). Local aggregation therefore gives you effectively unlimited increments —
      accumulate client-side and flush the total. Success never punishes you.
    - `/batch` is the coalesced-flush surface: up to 1000 ops in one call (each op still counts as one).
    - Read your live quota state with a single keyed `GET /v1/usage`: current-month ops used/quota, the
      reset instant, counter headroom, and plan limits. It is for **periodic polling**, not per-write
      interrogation.
    - Every quota `403` body carries machine-readable extension members — `limit`, `used`, and (for the
      time-windowed monthly-ops quota) `resetsAt` — so a client learns exactly where it stands without
      parsing prose.

servers:
  - url: https://api.counters.dev/v1
    description: Production (placeholder host)

security:
  - apiKey: []

tags:
  - name: counters
    description: Counter registry and metadata.
  - name: operations
    description: Mutations — add, subtract, clear, delete, and batch.
  - name: read
    description: Reads — current value and time series.
  - name: public
    description: |
      Key-less demo endpoints backing the landing page's global tap counter. No authentication:
      access is restricted server-side to an operator-configured allowlist of counters owned by a
      dedicated demo organization, and abuse is controlled by per-IP and global rate limits. Served
      at the **API origin root** (`https://api.counters.dev/public/...`), not under `/v1`.
  - name: dashboard
    description: |
      Dashboard-only browser surfaces. These are documented here for contract visibility but are
      not part of the machine (/v1, SDK) contract; the SDKs do not implement them.
  - name: alerts
    description: |
      Alert rules and incident acknowledgement on the hub machine surface. Organization API key
      authentication; every operation names its required scope in `x-api-key-scope`, always enforced.
  - name: boards
    description: |
      Per-board dashboard storage on the hub machine surface — the same BoardV1 rows and wire
      shape the web app reads and writes. Organization API key authentication; every operation
      names its required scope in `x-api-key-scope`, always enforced. Agent how-to (widget
      reference, worked counters-to-board example): `docs/AGENT-BOARDS-GUIDE.md`.
  - name: derived
    description: |
      Derived-counter definitions on the hub machine surface. Organization API key authentication;
      every operation names its required scope in `x-api-key-scope`, always enforced. (Reading
      derived *values* stays on the data plane under `counter:read`.)
  - name: keys
    description: |
      Machine key management on the hub machine surface: minting scoped keys (`POST /keys`
      requires `key:mint`, always enforced) and self-destruct (`DELETE /keys/self` requires no
      scope — any valid organization API key may destroy itself). Agent how-to (delegation
      recipe, required scopes, what to ask the human for): `docs/AGENT-BOARDS-GUIDE.md`.

paths:
  /dashboard/plane-token:
    servers:
      - url: https://api.counters.dev
        description: Dashboard hub endpoints live at the API origin root, not under /v1.
    post:
      operationId: mintDashboardPlaneToken
      summary: Mint a short-lived direct-to-plane dashboard read token
      security:
        - workOs: []
      tags: [dashboard]
      description: |
        WorkOS-authenticated dashboard endpoint. The hub resolves the caller's organization plane,
        signs a `dt_` token scoped to that org and plane, and returns the plane base URL. The token is
        valid for at most 10 minutes and is accepted only by `/dashboard-read/*` routes on the target
        plane.
      responses:
        '200':
          description: A short-lived read token and target plane URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardPlaneToken' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /dashboard/boards/v2:
    servers:
      - url: https://api.counters.dev
        description: Dashboard hub endpoints live at the API origin root, not under /v1.
    get:
      operationId: listDashboardBoards
      summary: List the organization's boards
      security:
        - workOs: []
      tags: [dashboard]
      description: |
        WorkOS-authenticated dashboard endpoint. Returns every board (BoardV1 plus revision
        metadata) in stable creation order. When the organization still carries a legacy
        single-blob boards document and has never listed v2 boards, the first call imports the
        blob's boards into rows (idempotent; the blob itself is left untouched).
      responses:
        '200':
          description: The organization's boards (empty when none exist).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoardList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      operationId: createDashboardBoard
      summary: Create a board
      security:
        - workOs: []
      tags: [dashboard]
      description: |
        WorkOS-authenticated dashboard endpoint (write role: owner/admin/member). The request
        carries only `{name, widgets}` — every other member is rejected, and the server mints
        `id`, timestamps, and `revision: 1`. An `Idempotency-Key` header makes the create
        replay-safe: repeating the same body with the same key returns the original board
        (`200`); reusing the key with a different body is `409 Conflict`.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: |
            Optional client-supplied key for replay-safe creates. The key lives on the board row
            until the board is deleted: a replay with the identical body returns the original
            board, while a different body under the same key is rejected with `409 Conflict`.
          schema: { type: string, maxLength: 255 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, widgets]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                widgets:
                  type: array
                  maxItems: 12
                  items: { $ref: '#/components/schemas/DashboardBoardWidget' }
      responses:
        '201':
          description: The created board.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '200':
          description: Idempotent replay — the board the key already created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  /dashboard/boards/v2/{boardId}:
    servers:
      - url: https://api.counters.dev
        description: Dashboard hub endpoints live at the API origin root, not under /v1.
    parameters:
      - $ref: '#/components/parameters/BoardId'
    get:
      operationId: getDashboardBoard
      summary: Read one board
      security:
        - workOs: []
      tags: [dashboard]
      description: WorkOS-authenticated dashboard endpoint. Returns one board with its revision metadata.
      responses:
        '200':
          description: The board.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateDashboardBoard
      summary: Replace a board under optimistic concurrency
      security:
        - workOs: []
      tags: [dashboard]
      description: |
        WorkOS-authenticated dashboard endpoint (write role: owner/admin/member). Replaces the
        board's `name`/`widgets` (same `{name, widgets}` shape and validation as create) iff the
        `If-Match` revision equals the stored revision, bumping it by one. A stale revision is
        `412 Precondition Failed` — re-read the board and retry.
      parameters:
        - name: If-Match
          in: header
          required: true
          description: The board's current revision, as last read.
          schema: { type: integer, minimum: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, widgets]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                widgets:
                  type: array
                  maxItems: 12
                  items: { $ref: '#/components/schemas/DashboardBoardWidget' }
      responses:
        '200':
          description: The updated board with its bumped revision.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '412': { $ref: '#/components/responses/PreconditionFailed' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
    delete:
      operationId: deleteDashboardBoard
      summary: Delete a board
      security:
        - workOs: []
      tags: [dashboard]
      description: 'WorkOS-authenticated dashboard endpoint (write role: owner/admin/member).'
      responses:
        '204':
          description: The board was deleted.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /dashboard-read/usage:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadUsage
      summary: Read dashboard quota usage directly from a plane
      description: Returns the current-month write-operation usage for the caller’s org, served from the assigned plane's local store without any hub round-trip.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: Dashboard current-month write-op usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardUsage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/entitlements:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadEntitlements
      summary: Read dashboard entitlement caps and usage directly from a plane
      description: |
        Returns every customer-dashboard entitlement dimension with the org's effective post-grant max,
        active temporary-grant display metadata, and plane-local usage where the plane owns the meter.
        `counters` and `monthlyOps` include live usage; HUB-owned dimensions return `usage: null` and
        `usageAvailable: false` until those counts are projected to planes.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: Dashboard entitlement caps and usage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardEntitlementsUsage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardEntitlementsUnavailable' }

  /dashboard-read/counters:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: listDashboardReadCounters
      summary: List counters directly from a plane for dashboard views
      description: Lists the org’s counters directly from the plane the org is assigned to, using the short-lived plane-scoped read token.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/values:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    get:
      operationId: getDashboardReadCounterValues
      summary: Batch-read counter values directly from a plane
      description: Bulk-reads current counter values for the org directly from the plane, for dashboard overview tiles.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: keys
          in: query
          required: true
          description: Comma-separated counter keys; maximum 100.
          schema: { type: string }
      responses:
        '200':
          description: Current values for the requested counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounter
      summary: Read one counter directly from a plane
      description: Reads a single counter’s current state directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: The counter.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/series:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounterSeries
      summary: Read a counter series directly from a plane
      description: Reads a counter’s time series directly from the plane for dashboard charts.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          schema: { type: string, default: UTC }
        - name: gapfill
          in: query
          schema: { type: boolean, default: false }
        - name: member
          in: query
          schema: { type: string }
        - name: groupBy
          in: query
          schema: { type: string, enum: [member] }
        - $ref: '#/components/parameters/MemberSeriesTop'
        - $ref: '#/components/parameters/MemberSeriesOther'
      responses:
        '200':
          description: Counter or member-dimensional series.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SeriesResponse'
                  - $ref: '#/components/schemas/MemberSeriesResponse'
                  - $ref: '#/components/schemas/MemberGroupSeriesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/leaderboard:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getDashboardReadCounterLeaderboard
      summary: Read a counter leaderboard directly from a plane
      description: Reads a counter’s leaderboard directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 100000, default: 0 }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
        - name: window
          in: query
          schema: { type: string, enum: ['1h', '6h', '12h', '1d', '7d', '30d'] }
        - $ref: '#/components/parameters/Epoch'
      responses:
        '200':
          description: A ranked page of members.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Leaderboard'
                  - $ref: '#/components/schemas/WindowLeaderboard'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/counters/{counterKey}/members/{member}:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
    get:
      operationId: getDashboardReadMember
      summary: Read a member snapshot directly from a plane
      description: Reads a single leaderboard member’s snapshot for a counter directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - $ref: '#/components/parameters/Epoch'
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: The member snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSnapshot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/derived/preview:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    post:
      operationId: previewDashboardReadDerived
      summary: Preview a derived expression directly on a plane
      description: Evaluates an expression against the organization’s plane-local counter data without persisting a definition.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DerivedPreviewRequest' }
      responses:
        '200':
          description: The evaluated preview.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/DashboardReadUnavailable' }

  /dashboard-read/derived/{derivedKey}/value:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDashboardReadDerivedValue
      summary: Read a derived counter value directly from a plane
      description: Reads a derived counter’s current value directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      responses:
        '200':
          description: The evaluated value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /dashboard-read/derived/{derivedKey}/series:
    servers:
      - url: https://{planeHost}
        description: Plane-local dashboard read endpoints live at each plane origin root.
        variables:
          planeHost:
            default: plane-a.counters.dev
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDashboardReadDerivedSeries
      summary: Read a derived counter series directly from a plane
      description: Reads a derived counter’s time series directly from the plane.
      security:
        - dashboardReadToken: []
      tags: [dashboard]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          schema: { type: string, default: UTC }
      responses:
        '200':
          description: The dense derived series.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedSeriesResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counter-write-policy:
    get:
      operationId: getCounterWritePolicy
      x-api-key-scope: counter:read
      summary: Read the organization's implicit-create policy
      description: |
        Returns the organization-wide policy and its compare-and-set version. A policy-less
        organization reads as implicit `allow`, version `0`, `explicit: false`; this preserves
        create-on-write through rolling deployments until an administrator explicitly stores a
        policy. Publishable tokens cannot call this operation.
      tags: [counters]
      responses:
        '200':
          description: Current explicit policy or the implicit version-zero default.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterWritePolicy' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: setCounterWritePolicy
      x-api-key-scope: counter:manage
      summary: Compare-and-set the organization's implicit-create policy
      description: |
        Stores the organization-wide policy only when `expectedVersion` matches the current version.
        Read first, then supply the returned version; one of two concurrent updates wins and the other
        receives `409`, so separate clients cannot silently clobber each other. Setting a policy on an
        implicit policy-less organization requires `expectedVersion: 0` and creates version `1`.
        Publishable tokens cannot call this operation.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetCounterWritePolicyRequest' }
      responses:
        '200':
          description: The stored policy. An exact explicit replay is a storage no-op.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterWritePolicy' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters:
    post:
      operationId: declareCounters
      x-api-key-scope: counter:write
      summary: Declare the organization's complete known counter set
      description: |
        Creates or verifies one to 1000 counter declarations for idempotent startup provisioning:
        submit the client's full known key set and settings on every startup. Work is committed in
        stable batches of at most 25 keys, bounding each transaction's advisory locks far below the
        PostgreSQL lock-table budget. Every key retains its organization-generation and repair fence.

        Each result is `created`, `unchanged`, or `error`. An invalid key, duplicate, tombstone, or
        configuration mismatch affects only that result; valid keys still land. A cap, quota, or fence
        failure rolls back only its bounded batch and appears on those results. Callers must inspect
        every result. An exact match performs no counter/configuration write and consumes no monthly
        op; a newly created counter consumes one monthly op. Board mode is immutable once declared,
        including before member data exists. Enabling member series happens in the same fenced,
        locked transaction as creation, before any member writes.

        This operation never changes the organization-wide undeclared-write policy. Read and update
        that versioned setting through `GET`/`PUT /counter-write-policy`; separating it from per-client
        startup declarations prevents last-writer-wins policy changes across clients sharing an org.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeclareCountersRequest' }
      responses:
        '200':
          description: One independent result per declaration plus the policy observed after completion.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeclareCountersResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      operationId: listCounters
      x-api-key-scope: counter:read
      summary: List counters in the organization
      description: Pages through the organization's counters in key order; follow `nextCursor` until absent.
      tags: [counters]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CounterPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounter
      x-api-key-scope: counter:read
      summary: Get a counter's metadata and current value
      description: |
        The counter's key, current-epoch value, epoch, member configuration, dimensional-series state,
        most recent enable actor/time, and current member count. Optional configuration fields are
        absent when not applicable. 404 once deleted.
      tags: [counters]
      responses:
        '200':
          description: The counter.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteCounter
      x-api-key-scope: counter:manage
      summary: Delete (tombstone) a counter
      description: Marks the counter deleted and stops serving it; events are purged asynchronously per retention.
      tags: [operations]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204': { description: Deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/member-series:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    put:
      operationId: setCounterMemberSeries
      x-api-key-scope: counter:write
      summary: Enable or disable per-member time series
      description: |
        Sets the counter's per-member time-series policy using a full organization API key.
        Publishable tokens cannot call this operation. Enabling is non-retroactive and is rejected
        when the current-epoch member count exceeds the plan's dimensional-series cap. An optional
        `expectedEpoch` makes the update conditional, so automation cannot silently configure a board
        that was cleared underneath it.

        `enabledAt` and `enabledBy` record the most recent disabled-to-enabled transition. They are
        retained across disable, and an idempotent request that leaves the state unchanged does not
        rewrite them. `enabledBy` identifies the calling API-key id; no plane-to-hub activity event is
        emitted by this operation.
      tags: [counters]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CounterMemberSeriesRequest' }
      responses:
        '200':
          description: Current member-series configuration.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSeriesConfig' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/add:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: addToCounter
      x-api-key-scope: counter:write
      summary: Add to a counter
      description: |
        Increments by a non-negative amount. Creates the counter if absent (subject to the plan's
        counter limit) when the organization's `undeclaredCounterWrites` policy is `allow`. Under
        `reject`, an absent key fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AmountRequest' }
      responses:
        '200':
          description: Applied; returns the new value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/subtract:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: subtractFromCounter
      x-api-key-scope: counter:write
      summary: Subtract from a counter
      description: |
        Decrements by a non-negative amount. The counter may go negative. An absent key is implicitly
        created only when the organization's `undeclaredCounterWrites` policy is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AmountRequest' }
      responses:
        '200':
          description: Applied; returns the new value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/clear:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: clearCounter
      x-api-key-scope: counter:write
      summary: Clear a counter (reset to zero)
      description: Starts a new epoch; the current value becomes zero. Historical series are retained.
      tags: [operations]
      responses:
        '200':
          description: Cleared; returns the counter at value 0 in the new epoch.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counter' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/value:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterValue
      x-api-key-scope: counter:read
      summary: Get a counter's current value
      description: The value in the current epoch, as a decimal string. Publishable (`pk_`) bearers get CORS + cache headers.
      tags: [read]
      responses:
        '200':
          description: The current value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counters/{counterKey}/series:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterSeries
      x-api-key-scope: counter:read
      summary: Get a counter's time series (delta per bucket)
      description: |
        Returns the per-bucket change in the counter over [from, to). Granularity (`bucket`) is constrained by the
        organization's plan; lookback is bounded by the storage lifecycle, not read-gated. Empty buckets are omitted
        unless `gapfill=true`; clients treat a missing bucket as zero.
      tags: [read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          description: Bucket size. Allowed values depend on plan (finer buckets require higher plans).
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: mode
          in: query
          description: Only delta-per-bucket is supported in v0.1; cumulative is a future, separate read path.
          schema: { type: string, enum: [delta], default: delta }
        - name: tz
          in: query
          description: IANA timezone for calendar bucket boundaries (e.g. Europe/London).
          schema: { type: string, default: UTC }
        - name: gapfill
          in: query
          description: >-
            Emit a zero-valued point for empty buckets instead of omitting them. Defaults to false;
            because false is the default, clients omit the parameter entirely when false (an explicit
            `gapfill=false` is treated identically to omission).
          schema: { type: boolean, default: false }
        - name: member
          in: query
          description: >-
            Dimensional member series (member-series): return one member's per-bucket series instead
            of the counter's. Requires the counter to have member series enabled and `bucket` at the
            1h floor or coarser. Mutually exclusive with `groupBy`. On a score board (`min`/`max`/
            `latest`) each point is the bucket-best/latest value, points are sparse, and `gapfill=true`
            is rejected (400) — a gap is "no submission", not zero.
          schema: { type: string }
        - name: groupBy
          in: query
          description: >-
            `groupBy=member` returns series for members with data in range (member-series), optionally
            restricted by `top`: gapfilled dense on a sum board, sparse per member on a score board.
            Requires member series enabled and `bucket` >= 1h. Mutually exclusive with `member`.
          schema: { type: string, enum: [member] }
        - $ref: '#/components/parameters/MemberSeriesTop'
        - $ref: '#/components/parameters/MemberSeriesOther'
      responses:
        '200':
          description: >-
            The series. Shape depends on the query: `SeriesResponse` for the counter, `MemberSeriesResponse`
            with `member=`, `MemberGroupSeriesResponse` with `groupBy=member`.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SeriesResponse'
                  - $ref: '#/components/schemas/MemberSeriesResponse'
                  - $ref: '#/components/schemas/MemberGroupSeriesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Requested granularity exceeds the plan's entitlement; lookback is bounded by storage lifecycle, not read-gated.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /counters/{counterKey}/leaderboard:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getCounterLeaderboard
      x-api-key-scope: counter:read
      summary: Read a counter's ranked member leaderboard
      description: |
        Ranked page of members with values (top-N). Identical across board modes. `total` (the group
        total) is present only on `sum` boards. Publishable (`pk_`) bearers may read (the embeddable
        public leaderboard) and receive CORS + cache headers. Default `order` is `desc`, except `min`
        boards which default to `asc` (fastest-first); an explicit `order` overrides.
      tags: [read]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, maximum: 100000, default: 0 }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
        - name: window
          in: query
          description: >-
            Windowed leaderboard (member-series): rank members by their activity over the trailing
            window instead of all-time standing — the window-sum on a sum board, the window-best
            (`min`/`max`) or window-latest (`latest`) value on a score board. Requires member series
            enabled. Default `order` follows the board mode (`asc` for `min`, else `desc`). Members with
            no activity in the window are absent (a windowed board ranks activity, not standing).
            Ignores `epoch` (member rollups are epoch-agnostic).
          schema: { type: string, enum: ['1h', '6h', '12h', '1d', '7d', '30d'] }
        - $ref: '#/components/parameters/Epoch'
      responses:
        '200':
          description: >-
            A ranked page of members — `Leaderboard` (all-time standing) or, with `window=`,
            `WindowLeaderboard` (windowed activity).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Leaderboard'
                  - $ref: '#/components/schemas/WindowLeaderboard'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /counters/{counterKey}/members/{member}:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
    get:
      operationId: getMember
      x-api-key-scope: counter:read
      summary: Get a member's rank and percentile
      description: |
        The member's value, competition rank, and percentile (share of members at-or-behind, e.g.
        "83.33"; the leader and a sole member both read "100.00"). Publishable (`pk_`) bearers may read.
      tags: [read]
      parameters:
        - $ref: '#/components/parameters/Epoch'
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: The member snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberSnapshot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: removeMember
      x-api-key-scope: counter:manage
      summary: Remove a member from the current board
      description: |
        Removes the member from the current epoch. On `sum` boards a non-zero value is compensated
        into the group total (returned as `value`); score boards delete without state math.
      tags: [operations]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberRemoved' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /counters/{counterKey}/members/{member}/add:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: addToMember
      x-api-key-scope: counter:write
      summary: Add to a member's value (sum board)
      description: |
        Accumulates a non-negative delta onto the member's value; configures the board as `sum` on
        first use. An absent counter is implicitly created only when `undeclaredCounterWrites` is
        `allow`; under `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MemberAmountRequest' }
      responses:
        '200':
          description: Applied; returns the member's new value and the group total.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/members/{member}/subtract:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: subtractFromMember
      x-api-key-scope: counter:write
      summary: Subtract from a member's value (sum board)
      description: |
        Decrements the member's value by a non-negative delta. The member (and group) may go negative.
        An absent counter is implicitly created only when `undeclaredCounterWrites` is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MemberAmountRequest' }
      responses:
        '200':
          description: Applied; returns the member's new value and the group total.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /counters/{counterKey}/members/{member}/submit:
    parameters:
      - $ref: '#/components/parameters/CounterKey'
      - $ref: '#/components/parameters/MemberKey'
      - $ref: '#/components/parameters/IdempotencyKey'
    post:
      operationId: submitMember
      x-api-key-scope: counter:write
      summary: Submit a member's score (latest/min/max board)
      description: |
        Submits a signed score to a score board — `latest` overwrites, `min`/`max` keep-best. A
        worse-than-standing submit is still a successful, metered call returning the standing value
        with `memberAccepted: false`. `mode` is required on the first submit to an unconfigured board.
        An absent counter is implicitly created only when `undeclaredCounterWrites` is `allow`; under
        `reject`, it fails with `409` and must first be declared with `POST /counters`.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitRequest' }
      responses:
        '200':
          description: Recorded; returns the standing value and whether it was accepted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberValue' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/QuotaExceeded' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /usage:
    get:
      operationId: getUsage
      x-api-key-scope: counter:read
      summary: Read current quota state
      tags: [counters]
      description: |
        Machine-readable quota state for the calling organization: current-month ops used and quota,
        the reset instant, counter headroom, and the plan's core limits. Intended for **periodic
        polling** (e.g. once a minute), not per-write interrogation — the hot write path deliberately
        exposes no per-request usage headers. `quota`/`monthlyOpsQuota` are `null` for unlimited plans.
      responses:
        '200':
          description: Current quota state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Usage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /batch:
    post:
      operationId: batchOperations
      x-api-key-scope: counter:write
      summary: Apply a batch of operations
      description: |
        The SDK's primary write path. Operations are coalesced client-side and submitted together. Each operation
        carries its own idempotency key (there is no batch-level key), so the batch is safe to retry. The HTTP call
        succeeding means the batch was accepted — inspect each per-operation result, including a possible `403`
        live-idempotency-key-cap error. When `undeclaredCounterWrites` is `reject`, an operation for an
        absent counter receives its own `409` `counter-not-declared` error result; other entries continue.

        Scope enforcement (when on) gates per contained operation: every operation needs `counter:write`,
        except a contained `delete`, which needs `counter:manage` instead. A batch containing any operation the
        key may not run is rejected whole with `403` `scope_denied` before anything executes.
      tags: [operations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BatchRequest' }
      responses:
        '200':
          description: Per-operation results.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BatchResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived/{derivedKey}/value:
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDerivedValue
      x-api-key-scope: counter:read
      summary: Evaluate a derived counter's current value
      description: |
        A derived counter is a stored, named, read-only expression over the organization's counters
        (e.g. `conversion = c('signups') / c('visits')`), evaluated at read time. Definitions are
        managed out-of-band (dashboard) and referenced counters need not exist — a missing or deleted
        counter reads as `0`, made visible in `inputs`. Arithmetic is exact-decimal (DECIMAL128) and
        the final result is rounded HALF_UP to the definition's `scale`. Division by zero anywhere in
        the expression makes the whole `value` `null` with a `reason`. Derived keys are a separate
        namespace from counter keys. Requires a full-access organization API key (no publishable
        tokens).
      tags: [read]
      responses:
        '200':
          description: The evaluated value (or null on division by zero).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedValueResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived/{derivedKey}/series:
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getDerivedSeries
      x-api-key-scope: counter:read
      summary: Evaluate a derived counter as a per-bucket time series
      description: |
        Evaluates the derived expression per bucket over [from, to). Each referenced counter's series
        is gap-filled to zeros, so the derived series is always dense; a per-bucket division by zero
        yields `v: null` for that bucket. Granularity (`bucket`) is constrained by the organization's plan,
        and lookback is bounded by storage lifecycle exactly as for counter series. Requires a full-access
        organization API key.
      tags: [read]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: bucket
          in: query
          required: true
          description: Bucket size. Allowed values depend on plan (finer buckets require higher plans).
          schema: { type: string, enum: ['1m', '5m', '1h', '1d', '1w', '1mo'] }
        - name: tz
          in: query
          description: IANA timezone for calendar bucket boundaries (e.g. Europe/London).
          schema: { type: string, default: UTC }
      responses:
        '200':
          description: The dense derived series.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DerivedSeriesResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /boards:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    get:
      operationId: listMachineBoards
      x-api-key-scope: board:read
      summary: List the organization's boards
      description: |
        Returns every board (BoardV1 plus revision metadata) in stable creation order — the same
        rows and wire shape as the dashboard's `/dashboard/boards/v2`. When the organization
        still carries a legacy single-blob boards document and has never listed v2 boards, the
        first call imports the blob's boards into rows (idempotent; the blob itself is left
        untouched). Requires a full-access organization API key with `board:read` — always
        enforced, regardless of the scope-enforcement rollout mode. Reads are not audited.
      tags: [boards]
      responses:
        '200':
          description: The organization's boards (empty when none exist).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoardList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createMachineBoard
      x-api-key-scope: board:write
      summary: Create a board
      description: |
        Creates one board from `{name, widgets}` — every other member is rejected, and the
        server mints `id`, timestamps, and `revision: 1`. Widget `counterKey` values are the
        organization's counter keys (a derived-counter key when `isDerived` is true);
        format-validated only, so list the org's counters first with data-plane
        `GET /v1/counters` under `counter:read`. Requires a full-access organization API key
        with `board:write` — always enforced, regardless of the scope-enforcement rollout mode.
        Audited as the `api_key` actor (`boards.created`).
      tags: [boards]
      parameters:
        - $ref: '#/components/parameters/MachineIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, widgets]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                widgets:
                  type: array
                  maxItems: 12
                  items: { $ref: '#/components/schemas/DashboardBoardWidget' }
      responses:
        '201':
          description: The created board.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '200':
          description: |
            Idempotent replay: the same `Idempotency-Key` with a byte-identical body returns the
            recorded board instead of creating a second one.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /boards/{boardId}:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    parameters:
      - $ref: '#/components/parameters/BoardId'
    get:
      operationId: getMachineBoard
      x-api-key-scope: board:read
      summary: Read one board
      description: |
        Returns one board with its revision metadata. A peer organization's id is a 404, never a
        leak. Requires a full-access organization API key with `board:read` — always enforced.
        Reads are not audited.
      tags: [boards]
      responses:
        '200':
          description: The board.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: updateMachineBoard
      x-api-key-scope: board:write
      summary: Replace a board under optimistic concurrency
      description: |
        Replaces the board's `name`/`widgets` (same `{name, widgets}` shape and validation as
        create) iff the `If-Match` revision equals the stored revision, bumping it by one.
        A stale revision is `409 Conflict` — re-read the board and retry; the stored board is
        never silently overwritten. Requires a full-access organization API key with
        `board:write` — always enforced. Audited as the `api_key` actor (`boards.updated`).
      tags: [boards]
      parameters:
        - name: If-Match
          in: header
          required: true
          description: The board's current revision, as last read.
          schema: { type: integer, minimum: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, widgets]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                widgets:
                  type: array
                  maxItems: 12
                  items: { $ref: '#/components/schemas/DashboardBoardWidget' }
      responses:
        '200':
          description: The updated board with its bumped revision.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardBoard' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteMachineBoard
      x-api-key-scope: board:manage
      summary: Delete a board
      description: |
        Deletes one board. Requires a full-access organization API key with `board:manage` —
        always enforced. Audited as the `api_key` actor (`boards.deleted`).
      tags: [boards]
      responses:
        '204': { description: Deleted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /alerts:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    get:
      operationId: listMachineAlertRules
      x-api-key-scope: alert:read
      summary: List the organization's alert rules
      description: |
        Keyset-paginated alert rules across counter, member, and derived targets. Filter by
        `counterKey` (a counter key, or a derived key with `targetType=derived`) and/or
        `targetType`. Requires a full-access organization API key with `alert:read` — always
        enforced, regardless of the scope-enforcement rollout mode. Reads are not audited.
      tags: [alerts]
      parameters:
        - name: counterKey
          in: query
          description: Only rules targeting this counter (or derived) key.
          schema: { type: string, minLength: 1, maxLength: 200 }
        - name: targetType
          in: query
          description: Only rules of this target kind.
          schema: { type: string, enum: [counter, member, derived] }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The rule page.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertRuleList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createMachineAlertRule
      x-api-key-scope: alert:write
      summary: Create an alert rule
      description: |
        Creates one alert rule on a counter, member, or derived target. The rule counts against the
        organization's `maxAlertRules` entitlement; a derived target must name an existing derived
        definition. Requires a full-access organization API key with `alert:write` — always enforced,
        regardless of the scope-enforcement rollout mode. Audited as the `api_key` actor
        (`alert_rule.created`).
      tags: [alerts]
      parameters:
        - $ref: '#/components/parameters/MachineIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineCreateAlertRuleRequest' }
      responses:
        '201':
          description: The created rule.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertRule' }
        '200':
          description: |
            Idempotent replay: the same `Idempotency-Key` with a byte-identical body returns the
            recorded rule instead of creating a second one.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertRule' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /alerts/{ruleId}:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    parameters:
      - name: ruleId
        in: path
        required: true
        description: Alert rule id.
        schema: { type: string, format: uuid }
    get:
      operationId: getMachineAlertRule
      x-api-key-scope: alert:read
      summary: Get one alert rule
      description: |
        Fetches a single alert rule by id. A peer organization's id is a 404, never a leak. Requires
        a full-access organization API key with `alert:read` — always enforced. Reads are not audited.
      tags: [alerts]
      responses:
        '200':
          description: The rule.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertRule' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: updateMachineAlertRule
      x-api-key-scope: alert:write
      summary: Update an alert rule
      description: |
        Partial update; kind, counter key, and target are immutable (delete and recreate to change
        them). Reminder semantics are tri-state: omit `reminderIntervalSeconds` to leave it unchanged,
        send null to turn reminders off, send a value to set it. Requires a full-access organization
        API key with `alert:write` — always enforced. Audited as the `api_key` actor
        (`alert_rule.updated`).
      tags: [alerts]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineUpdateAlertRuleRequest' }
      responses:
        '200':
          description: The updated rule.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertRule' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteMachineAlertRule
      x-api-key-scope: alert:manage
      summary: Delete an alert rule
      description: |
        Deletes one alert rule. Requires a full-access organization API key with `alert:manage` —
        always enforced. Audited as the `api_key` actor (`alert_rule.deleted`).
      tags: [alerts]
      responses:
        '204': { description: Deleted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /alerts/incidents/{incidentId}/ack:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    parameters:
      - name: incidentId
        in: path
        required: true
        description: Alert incident id.
        schema: { type: string, format: uuid }
    post:
      operationId: acknowledgeMachineAlertIncident
      x-api-key-scope: alert:write
      summary: Acknowledge an alert incident
      description: |
        Marks an open incident acknowledged ("seen, stop reminding") without resolving it. Idempotent:
        re-acking a still-open incident returns it unchanged; a resolved incident is rejected (400 on
        local composition, 409 on a split hub where the plane reports it). Requires a
        full-access organization API key with `alert:write` — always enforced. The `reason` is required
        free text for the audit trail; there is no confirmation word. `Idempotency-Key` is required and
        correlates the acknowledgement. Audited as the `api_key` actor (`alert.acknowledged`). On a
        split hub the acknowledgement travels as a signed hub-to-plane management command and may
        answer `202` (pending) instead of `200`.
      tags: [alerts]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Lowercase UUID correlating this acknowledgement.
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineAckRequest' }
      responses:
        '200':
          description: The acknowledged incident.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineAlertIncident' }
        '202':
          description: Accepted on a split hub; poll the incident until acknowledged.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineCommandPending' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    get:
      operationId: listMachineDerivedDefinitions
      x-api-key-scope: derived:read
      summary: List derived-counter definitions
      description: |
        Keyset-paginated derived-counter definitions. Requires a full-access organization API key with
        `derived:read` — always enforced, regardless of the scope-enforcement rollout mode. Reads are
        not audited. (Reading derived *values* stays on the data plane under `counter:read`.)
      tags: [derived]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The definition page.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDerivedDefinitionList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      operationId: createMachineDerivedDefinition
      x-api-key-scope: derived:write
      summary: Create a derived-counter definition
      description: |
        Creates one derived-counter definition; the expression is parsed and the plan's
        `maxDerivedCounters` cap enforced. Requires a full-access organization API key with
        `derived:write` — always enforced. Audited as the `api_key` actor
        (`derived_counter.created`). The definition projects to the data plane through the signed
        config snapshot, like dashboard-authored definitions.
      tags: [derived]
      parameters:
        - $ref: '#/components/parameters/MachineIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineCreateDerivedDefinitionRequest' }
      responses:
        '201':
          description: The created definition.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDerivedDefinition' }
        '200':
          description: |
            Idempotent replay: the same `Idempotency-Key` with a byte-identical body returns the
            recorded definition instead of creating a second one.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDerivedDefinition' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /derived/{derivedKey}:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    parameters:
      - $ref: '#/components/parameters/DerivedKey'
    get:
      operationId: getMachineDerivedDefinition
      x-api-key-scope: derived:read
      summary: Get one derived-counter definition
      description: |
        Fetches a single derived-counter definition by key. Requires a full-access organization API
        key with `derived:read` — always enforced. Reads are not audited.
      tags: [derived]
      responses:
        '200':
          description: The definition.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDerivedDefinition' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    put:
      operationId: updateMachineDerivedDefinition
      x-api-key-scope: derived:write
      summary: Update a derived-counter definition
      description: |
        Updates a definition's expression and/or scale (at least one is required). Requires a
        full-access organization API key with `derived:write` — always enforced. Audited as the
        `api_key` actor (`derived_counter.updated`).
      tags: [derived]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineUpdateDerivedDefinitionRequest' }
      responses:
        '200':
          description: The updated definition.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineDerivedDefinition' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      operationId: deleteMachineDerivedDefinition
      x-api-key-scope: derived:manage
      summary: Delete a derived-counter definition
      description: |
        Deletes one derived-counter definition. Requires a full-access organization API key with
        `derived:manage` — always enforced. Audited as the `api_key` actor
        (`derived_counter.deleted`).
      tags: [derived]
      responses:
        '204': { description: Deleted. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /keys:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    post:
      operationId: mintMachineApiKey
      x-api-key-scope: key:mint
      summary: Mint a scoped organization API key
      description: |
        Mints a new organization API key owned by the caller's organization — the delegation
        primitive for handing a narrower key to a sub-agent. Requires a full-access organization
        API key with `key:mint` — always enforced, regardless of the scope-enforcement rollout
        mode. No escalation: every requested scope must already be on the calling key (a superset
        request is `403` with problem `type: "scope_denied"` and a `disallowed` member naming each
        requested scope outside the caller's set). An `expiresAt` later than the calling key's own
        expiry is rejected with `400` (never silently clamped); a caller that never expires may
        mint any future expiry or none (when the calling key has an expiry, omitting `expiresAt`
        or passing null is rejected with `400`). The response carries the new key's secret exactly once —
        an idempotent replay (`200`, same `Idempotency-Key` with a byte-identical body) returns
        the recorded metadata with `secret` null. The minting key's id is stored as
        `createdByKeyId` lineage; revoking the minting key does NOT cascade to keys it minted.
        Audited as the `api_key` actor (`api_key.created`).
      tags: [keys]
      parameters:
        - $ref: '#/components/parameters/MachineIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MachineMintKeyRequest' }
      responses:
        '201':
          description: The minted key, with its secret (shown exactly once).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineMintKeyResponse' }
        '200':
          description: |
            Idempotent replay: the same `Idempotency-Key` with a byte-identical body returns the
            recorded key metadata with `secret` null instead of minting a second key.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MachineMintKeyResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: |
            Missing `key:mint` (a `scope_denied` problem naming it in `required`), or a superset
            request (a `scope_denied` problem naming each out-of-reach scope in `disallowed`).
          content:
            application/problem+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Problem'
                  - $ref: '#/components/schemas/KeyMintDeniedProblem'
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /keys/self:
    servers:
      - url: https://hub.counters.dev/v1
        description: Machine surface lives on the hub host; data-plane /v1 stays on api.counters.dev.
    delete:
      operationId: revokeOwnMachineApiKey
      summary: Revoke the calling API key (self-destruct)
      description: |
        Revokes exactly the calling organization API key — the end-of-work primitive for an agent
        handed a key by a human: when the work is done, call this and the key dies with it. Needs
        no scope: any valid organization API key may destroy itself. The response is `204`; the
        key's next request on any surface (hub and data plane) is `401`, and a second call with
        the revoked key is `401`. Revocation is durable in the hub row at once; the data plane
        stops accepting the key once it applies the published credential snapshot (poke-driven,
        polling fallback — up to a minute in the worst case). Audited as the `api_key` actor
        (`api_key.revoked`).
      tags: [keys]
      responses:
        '204': { description: Revoked. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /public/counters/{counterKey}/value:
    servers:
      - url: https://api.counters.dev
        description: Public demo endpoints live at the API origin root, not under /v1.
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    get:
      operationId: getPublicCounterValue
      summary: Read a public demo counter (key-less)
      security: []
      tags: [public]
      description: |
        Current value of an allowlisted public counter — no auth, callable straight from a browser.
        Responses carry `Access-Control-Allow-Origin: *` and `Cache-Control: public, max-age=2,
        stale-while-revalidate=5`, so a CDN in front of the origin absorbs polling fan-out. An
        allowlisted counter that has never been written reads as `"0"` (epoch 0), never 404. A key
        outside the allowlist — or an operator that hasn't configured the feature — is a plain 404.
        `OPTIONS` preflight is supported (methods `GET, POST, OPTIONS`; headers `Content-Type`).
      responses:
        '200':
          description: The current value.
          headers:
            Cache-Control:
              description: '`public, max-age=2, stale-while-revalidate=5` — short shared-cache TTL for CDN absorption.'
              schema: { type: string }
            Access-Control-Allow-Origin:
              description: Always `*` on this endpoint.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /public/counters/{counterKey}/tap:
    servers:
      - url: https://api.counters.dev
        description: Public demo endpoints live at the API origin root, not under /v1.
    parameters:
      - $ref: '#/components/parameters/CounterKey'
    post:
      operationId: tapPublicCounter
      summary: Tap a public demo counter (+1, key-less)
      security: []
      tags: [public]
      description: |
        Adds exactly **+1** to an allowlisted public counter — the amount is fixed server-side and no
        request body is accepted. Deliberately **not idempotent**: every accepted tap counts, and the
        per-IP + global rate limits (429 with `Retry-After` beyond them) are the abuse control. Returns
        the post-increment value so clients can render the click instantly. Responses carry
        `Access-Control-Allow-Origin: *` and `Cache-Control: no-store`. `OPTIONS` preflight is
        supported (methods `GET, POST, OPTIONS`; headers `Content-Type`).
      responses:
        '200':
          description: Applied; the post-increment value.
          headers:
            Cache-Control:
              description: Always `no-store` — tap responses are never cached.
              schema: { type: string }
            Access-Control-Allow-Origin:
              description: Always `*` on this endpoint.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ValueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Organization API key. Verified locally; never round-trips to WorkOS on the request hot path.
    workOs:
      type: http
      scheme: bearer
      description: WorkOS AuthKit access token for dashboard hub endpoints.
    dashboardReadToken:
      type: http
      scheme: bearer
      bearerFormat: dt_
      description: |
        Short-lived `dt_` dashboard read token minted by the hub and verified locally by the assigned
        data plane. Production planes bind the token org through their committed core projection snapshot
        before serving core dashboard reads.

  parameters:
    CounterKey:
      name: counterKey
      in: path
      required: true
      description: Counter identifier, unique within the organization (e.g. "registrations").
      schema: { type: string, minLength: 1, maxLength: 200, pattern: '^[A-Za-z0-9._:-]+$' }
    DerivedKey:
      name: derivedKey
      in: path
      required: true
      description: Derived-counter identifier, unique within the organization (separate namespace from counter keys).
      schema: { type: string, minLength: 1, maxLength: 200, pattern: '^[A-Za-z0-9._:-]+$' }
    BoardId:
      name: boardId
      in: path
      required: true
      description: Board identifier (server-minted UUID).
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Client-supplied key for effectively-once writes. The SDKs send a fresh key on every write; a batch carries
        one key per operation, not one key for the HTTP request. The guaranteed deduplication window is six hours:
        retrying the same operation with the same key during that window replays its original result. Keys older than
        six hours are eligible for pruning, so reusing one later may execute a new operation. Reusing a live key for a
        different operation returns `409 Conflict`.

        Each organization also has a plan-derived live-key cap, defaulted to 110% of the maximum writes its enforced
        rate limit permits during six hours. Traffic within that rate limit cannot exhaust the cap. If the cap is
        exhausted, a standalone write returns `403 Forbidden`; a batch reports an `error` result with status `403` for
        that operation. No `Retry-After` header is sent because the service does not promise an exact recovery time.
        Do not retry automatically; retry only after older keys have left the six-hour window.
      schema: { type: string, maxLength: 255 }
    MachineIdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Lowercase RFC 4122 UUID (versions 1-5) for effectively-once machine creates. Retrying a create with the same key
        and a byte-identical body replays the recorded rule/definition (`200`) instead of creating
        a second one; the same key with a different body (or a different machine operation) is
        `409 Conflict`. If the resource the key originally created has since been deleted (or, for a
        derived definition, changed), the replay is `409` with problem type `idempotency_key_reused`
        and creates nothing. Optional on creates; required on incident acknowledgement, where it
        correlates the acknowledgement.
      schema:
        type: string
        format: uuid
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
    Cursor:
      name: cursor
      in: query
      description: Opaque pagination cursor from a previous response.
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    MemberKey:
      name: member
      in: path
      required: true
      description: Member identifier within a counter's board (e.g. "playerX", or a composite "alice|bob").
      schema: { type: string, minLength: 1, maxLength: 256, pattern: '^[A-Za-z0-9._:@|-]+$' }
    Epoch:
      name: epoch
      in: query
      description: Season to read; defaults to the counter's current epoch. Past seasons stay readable after clear.
      schema: { type: integer, format: int64 }
    MemberSeriesTop:
      name: top
      in: query
      description: >-
        With `groupBy=member`, select the top N members over the requested range. Ranking follows
        board semantics: range sum for `sum`, range minimum for `min`, range maximum for `max`,
        and the newest submitted value for `latest`. N must not exceed the organization's resolved
        `maxMembersWithSeries` entitlement. The absolute response budget is 25,000 points, so
        `top * bucketCount` (plus one series when `other=true`) must fit; reduce `top` or use a
        coarser bucket when it does not. Requires `groupBy=member`.
      schema: { type: integer, minimum: 1 }
    MemberSeriesOther:
      name: other
      in: query
      description: >-
        With `groupBy=member&top=N` on a sum board, append a synthetic `$other` series containing
        the per-bucket sum of all omitted members. Defaults to false. `other=true` is rejected on
        `min`, `max`, and `latest` boards because a combined score series has no coherent meaning.
      schema: { type: boolean, default: false }

  schemas:
    Amount:
      type: string
      pattern: '^[0-9]+$'
      description: Non-negative integer magnitude, arbitrary precision, as a decimal-digit string.
      examples: ['1', '42', '100000000000000000000000']
    Value:
      type: string
      pattern: '^-?[0-9]+$'
      description: Signed integer counter value, arbitrary precision, as a string.
      examples: ['0', '-5', '999999999999999999999999999']
    AmountRequest:
      type: object
      required: [amount]
      properties:
        amount: { $ref: '#/components/schemas/Amount' }
        occurredAt:
          type: string
          format: date-time
          description: |
            Optional event time. When set, the operation is bucketed into the time series at this
            instant instead of ingest time (for offline spools flushing late). Bounded: at most 5
            minutes in the future and no older than the plan's retention window (400 otherwise).
            Totals are unaffected — only series bucketing.
    UndeclaredCounterWrites:
      type: string
      enum: [allow, reject]
      description: |
        Per-organization implicit-create policy with explicit polarity. `allow` lets ordinary data
[...]
